appdirs
black
certifi
chardet
click
fastapi
filelock
flake8
gdown
h11
idna
isort
joblib
mccabe
mypy-extensions
numpy
packaging
pathspec
pycodestyle
pydantic
pyflakes
pyparsing
PySocks
regex
requests
sacremoses
six
starlette
tokenizers
toml
torch
tqdm
transformers
typed-ast
typing-extensions
urllib3
uvicorn